body,
html {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #f5f5fa 0, #f2dad5 44.15%, #a1abd6 100%);
}
a {
    transition: all .2s ease-in-out;
}




